@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.container h1 {
  font-size: 3rem;
  text-align: center;
  padding: 15% 0 4% 0;
}

.container img {
  margin-bottom: 50px;
}
.img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.img-text img {
  height: 50vh;
  padding-right: 50px;
  margin-top: 40px;
}
.text {
  padding-bottom: 30;
  text-align: justify;
}
section {
  background-color: white;
}
.container h1 + img {
  max-width: 100%;
}
